<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <script type="module">
    //AuthLogic클래스는 export 다음에 default가 있어서 {}씌우면 안됨
    //loginGoogle함수는 default가 없어서 {}반드시 씌워야 함.
    //default는 한번만 사용이 가능함.
    import AuthLogic, { loginGoogle } from '/javascripts/authLogic.js'
    import { app } from '/javascripts/firebase.js'
    const authLogic = new AuthLogic()
    //구글 로그인이 성공하면 서버에서 uid를 발급해줌.
    //uid가 사용자 구분값 - firebase Realtime Database에서 식별자로 사용할 것임
    //아래 함수는 구글 로그인이 성공하면 호출됨
    //로그인이 성공하면 uid가 있고 실패하면 uid가 없다.
    const goToMaker = (userId) => {
      window.location.href = `/maker?id=${userId}`
    }//end of goToMaker
    const btnGoogle = async() => {
      console.log('google');
      try {
        const user = await loginGoogle(authLogic.auth, authLogic.googleProvider)
        //구글 인증 후 응답으로 받은 프로필 정보에서 userId값을 꺼낸다.
        window.localStorage.setItem("userId", user.uid)
        if(user.uid){
          goToMaker(user.uid)
        }//end of if
      } catch (error) {
        console.error('로그인 오류입니다.', error);
      }
    }
    const btnKakao = () => {
      console.log('kakao');
    }
    //아래 코드는 함수 호이스팅이 일어나지 않아서 undefined이슈
    //해결하기 위해서 추가함.
    window.btnGoogle = btnGoogle
    window.btnKakao = btnKakao
  </script>
</head>
<body>
  <section class="login">
<!-- header section -->    

<header class="header">
  <img src="/images/logo.png" alt="logo" class="logo">
  <h1>NameCard Maker</h1>
</header>

<!-- header section -->    
<!-- login section -->    

<section>
  <h1>Login</h1>
  <ul class="list">
    <li class="item">
      <button class="button" onclick="javascript:btnGoogle()">Google</button>
    </li>
    <li class="item">
      <button class="button" onclick="javascript:btnKakao()">Kakao</button>
    </li>
  </ul>
</section>

<!-- login section -->    
<!-- footer section -->    

<footer class="footer">
  <p class="title">&copy; 2025 NameCard Maker</p>
</footer>

<!-- footer section -->    
  </section>
</body>
</html>