<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maker</title>
  <link rel="stylesheet" href="/stylesheets/card.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/editor.css">
  <link rel="stylesheet" href="/stylesheets/preview.css">
  <link rel="stylesheet" href="/stylesheets/maker.css">
  <script type="module" src="/javascripts/maker.js"></script>
</head>
<body>
  <section class="maker">
    <%-include('include/header.ejs') %>
    <div class="container">
      <section class="editor">
        <h1 class="etitle">Card Maker</h1>
      </section>
      <section class="preview">
        <h1 class="ptitle">Card Preview</h1>
        <ul class="cards">
          <%-include('include/card.ejs') %>
        </ul>
      </section>
    </div>
    <%-include('include/footer.ejs') %>
  </section>
</body>
</html>