<li class="card light">
  <img src="/images/default_logo.png" alt="profile photo" class="avatar">
  <div class="info">
    <h1 class="pname">이순신</h1>
    <p class="pcompany">TopCamp</p>
    <p class="ptitle">소프트웨어 엔지니어</p>
    <p class="pemail">lee@hot.com</p>
    <p class="pmessage">좌우명</p>
  </div>
</li>
<!-- 
  ul태그
  <ul>
{
    items.forEach(item => {
  <li onClick={()=> console.log()}>...</li>
})
}
  
  </ul>
-->