.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1em;
  padding: 0.2em 0;
  max-width: 30rem;
  background-color: cyan;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-right: 1em;
  border-radius: 50%;
}

.card.dark {
  background-color: black;
  color: white;
}

.card.light {
  background-color: white;
  color: black;
}

.card.colorful {
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(212, 149, 161, 1) 60%,
    rgba(162, 63, 63, 1) 100%,
    rgba(127, 188, 242, 1) 100%
  );
}

.pname {
  font-size: 1.2em;
}

.pcompany {
  margin-bottom: 1em;
}

.pcompany::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}